body {
    background-color: darkgreen;
    text-align: center;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    font-weight: bold;
    color: aliceblue;
    font-size: 150%;
}

h1 {
    color: goldenrod;
}


#message-el {
    font-style: italic;
}

#btn-start {
    background-color: goldenrod;
    padding: 10px 30px;
    font-weight: bold;
    color: green;
    border: none;
    width: 150px;
    border-radius: 2px;
    margin: 4px 0px;
}

div #apple-shelf {
    background-color: greenyellow;
    color: black;
    padding: 15px 0px;
    margin: 5px 0px;
}

#orange-shelf {
    background-color: orange;
    color: black;
    padding: 15px 0px;
}