body {
    background-color: rgb(190, 148, 92);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10%;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* div .buttons {
    display: grid;

} */

#increment-btn {
    background-color: darkred;
}

/* #decrement-btn {
    background-color: darkslateblue;
} */

#save-btn {
    background-color: darkgreen;
}